:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --hover-focus-link-color: #2196f3;
  --filters-button-color: #212121;
  --filters-button-bcg-color: #f5f4fa;
  --filters-button-color-hover: #ffffff;
  --filters-button-bcg-color-focus: #2196f3;
}

/* цвет основного текста #757575 */
/* вторичній цвет текста #212121 */
/* акцент #2196F3 */
/* цвет фона f5f5f5 */
/* вторичній цвет фона #F5F4FA */

.page {
  background-color: #f5f5f5;
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

button {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-header .conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0, auto;
  outline: 2px solid tomato;
}

/* стили для хедер */
/* page header */
.page-header {
  background-color: #ffffff;
}
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .accent {
  color: #000000;
}
.logo .accent-footer {
  color: #ffffff;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-focus-link-color);
}
.site-nav .link.current {
  color: #2196f3;
}
.contacts .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--hover-focus-link-color);
}

/* стили для футер */
/* page footer */
.page-footer {
  background-color: #2f303a;
}
.address .link-address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.address .link-address:hover,
.address .link-address:focus {
  color: var(--hover-focus-link-color);
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.address .link:hover,
.address .link:focus {
  color: var(--hover-focus-link-color);
}

/* стили для "студия" */
/* hero */
.hero {
  background-color: #2f303a;
}
.hero .title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
/* section features*/
.section-features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-features .text {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* section work */
.section-work .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* section team */
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
}
.section-team .text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
}

/* стили для "портфолио" */
/* filters page portfolio */
.cursors .pointer {
  color: var(--filters-button-color);
  background-color: var(--filters-button-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.cursors .pointer:hover,
.cursors .pointer:focus {
  color: var(--filters-button-color-hover);
  background-color: var(--filters-button-bcg-color-focus);
}
.pointer {
  cursor: pointer;
}

/* projects */
.projects .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project .text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.88;
}
